<mat-expansion-panel [expanded]="true" class="my-3">
    <mat-expansion-panel-header>
        <mat-panel-title>
            Filtros
        </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="row">
        <div class="col-lg-8 col-md-10 col-sm-12 px-0">
          <form (ngSubmit)="handleSearch()" [formGroup]="filterForm" >
            <mat-form-field class="w-50 ml-0">
                <input type="text" 
                       matInput 
                       placeholder="Buscar" 
                       formControlName="search" 
                       autocomplete="off">
            </mat-form-field>
            <button  type="submit" mat-raised-button class="mx-2">
              Buscar
            </button>
          </form>
        </div>
    </div>
  </mat-expansion-panel>