<div class="container">
    <app-heroe-filter-panel (onSearch)="searchHeroes($event)"></app-heroe-filter-panel>
    <app-heroe-table [heroes]="heroes" 
                     (heroeDeleted)="deleteHeroe($event)" 
                     (onHeroeEdit)="editHeroe($event)" 
                     (onHeroeView)="viewHeroe($event)"
                     (onHeroeCreate)="createHeroe()">
    </app-heroe-table>
</div>