.heroe-actions{
    display: flex;
    justify-content: center;
    gap: 5px;
}
.mat-column-id {
    width: 10%;
}

.mat-column-name {
    width: 40%;
}

.mat-column-editorial {
    width: 25%;
}

.mat-column-actions {
    width: 25%;
   text-align: center;
}

.content-heroes{
    display: flex;
    justify-content: center;
}