<div class="my-3">
    <button mat-raised-button class="align-items-center" color="info" (click)="handleCreate()">
      <mat-icon>add</mat-icon>
      Nuevo Heroe
    </button>
</div>
<table mat-table [dataSource]="dataSource" class="w-100 mat-elevation-z8 mb-3">
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let heroe"> {{heroe.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let heroe"> {{heroe.name}} </td>
    </ng-container>

    <ng-container matColumnDef="editorial">
        <th mat-header-cell *matHeaderCellDef> Editorial </th>
        <td mat-cell *matCellDef="let heroe"> {{heroe.editorial}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let heroe">
            <div class="heroe-actions">
                <button mat-icon-button color="primary" (click)="handleView(heroe.id)">
                <mat-icon>visibility</mat-icon>          
                </button>
                <button mat-icon-button color="green" (click)="handleEdit(heroe.id)">
                    <mat-icon>edit</mat-icon>          
                </button>
                <button mat-icon-button color="warn" (click)="handleDelete(heroe.id, heroe.name)"> 
                    <mat-icon>delete</mat-icon>
                </button>
            </div> 
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-card *ngIf="dataSource?.data?.length === 0" class="d-flex justify-content-center" >
    <p> No se encontraron heroes.</p>
</mat-card>
<mat-paginator #paginator
    [length]="dataSource?.data?.length"
    [pageIndex]="0"
    [pageSize]="5"
    [pageSizeOptions]="[5, 10, 20]">
</mat-paginator>

