<div class="row justify-content-center my-4">
    <div class="col-6">
        <mat-card class="my-3" *ngIf="heroe">
            <mat-card-title>
                <div class="d-flex justify-content-between align-items-center">
                    {{heroe.name}}
                    <button mat-icon-button color="green" [routerLink]="['/heroes', heroe.id, 'edit']">
                        <mat-icon>edit</mat-icon>
                    </button>
                </div>
            </mat-card-title>
            <mat-card-subtitle> 
                Editorial {{heroe.editorial}} 
            </mat-card-subtitle>
            <mat-divider></mat-divider>
            <mat-card-content class="py-2">
                <p>{{heroe.description}}</p>
            </mat-card-content>
        </mat-card>
        <div class="d-flex justify-content-center">
            <button type="button" mat-raised-button [routerLink]="['/heroes']" >
                Regresar
            </button>
        </div>
    </div>
</div>
