<footer class="footer w-100">
    <div class="d-flex justify-content-center" >
       <p>
            <a [href]="linkedIn">
                {{ author }}
            </a>
            Challenge Heroes - 2021
        </p>
    </div>
</footer>

