
<h2 mat-dialog-title>{{config.title}}</h2>

<mat-dialog-content>
    <p>
        {{config.message}}
    </p>
</mat-dialog-content>

<mat-dialog-actions class="justify-content-center">
    <button mat-button color="green" 
            (click)="save()">
        {{config.okText}}
    </button>
    <button mat-button 
            (click)="close()">
        {{config.cancelText}}
    </button>
</mat-dialog-actions>