<div class="container-fluid">
    <div class="row">
        <div class="col-6 offset-3">
            <mat-card class="my-3">
                <mat-card-title> {{ modeForm === 0 ? titleCrear : titleEditar}} Heroe</mat-card-title>
                <form [formGroup]="heroeForm" (ngSubmit)="onSubmit()">

                    <mat-form-field class="w-100">
                        <mat-label>Nombre</mat-label>
                        <input matInput type="text" placeholder="Nombre" formControlName="name" toUpperCase>
                        <mat-error>Indicar el nombre del Heroe.</mat-error>
                    </mat-form-field>

                    <mat-form-field class="w-100">
                        <mat-select placeholder="Editorial" formControlName="idEditorial">
                            <mat-option *ngFor="let editorial of editoriales" [value]="editorial.id">
                                {{ editorial.name }}
                            </mat-option>
                        </mat-select>
                        <mat-error>Seleccione la editorial a la que pertenece el heroe.</mat-error>
                    </mat-form-field>

                    <mat-form-field class="w-100">
                        <mat-label>Descripcion</mat-label>
                        <textarea matInput type="text" placeholder="Ingrese descripcion del heroe" formControlName="description"></textarea>
                        <mat-error>Ingrese una descripcion.</mat-error>
                    </mat-form-field>

                    <div class="d-flex justify-content-center my-2">
                        <button  type="submit" mat-raised-button color="info" class="mx-2" [disabled]="modeForm === 1 && !heroeForm.dirty">
                            Guardar
                        </button>
                        <button type="button" mat-button color="default" [routerLink]="['/heroes']" >
                            Cancelar
                        </button>
                    </div>
                </form>
            </mat-card> 
        </div>
    </div>
</div>