/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
div.row {
    margin-left: 0;
}

// Colores Material
.mat-green{
    background-color: #4CAF50;
    color: white;
}
.mat-icon-button.mat-green{
    background-color: transparent;
    color: #4CAF50;
}

.mat-info{
    background-color: #03A9F4;
    color: white;
}

.mat-icon-button.mat-info{
    background-color: transparent;
    color: #03A9F4;
}

.mat-secondary{
    background-color: #448AFF;
    color: white;
  
};
